/* last updated: Jan 14, 2023 by Martin */

body {
  background-color: rgba(164, 155, 155, 0.995);
  font-family: 'Ubuntu', sans-serif;
  color: rgb(58, 56, 56);
  text-align: justify;
  height: 100%;
}

button {
  background-color: rgb(45, 43, 43);
  border: 2px solid rgb(9, 163, 241);
  font-family: 'Ubuntu', sans-serif;
  color: white;
  border-radius: 5px;
}

button:hover {
  border: 3px solid green;
}

.site_menus button, .home_menus button {
  margin: 0.2em;
  padding: 0.2em;
}

input[placeholder] {
  color: blue;
  font-size: x-small;
}

.header {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-items: center;
  justify-content: space-between;
}

.home, .view_options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search_field, .site_menus, .display_options {
  width: 100%;
}

.search_field form {
  padding: 0.1em;
  background: rgb(45, 43, 43);
  border-radius: 5px;
  text-align: center;
}

.search_field form input[type=text] {
  font-size: 1em;
  cursor: pointer;
  width: 85%;
}

.header div span {
  font-size: 5em;
}

.display_area, .display_options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.left_nav_pane, .right_nav_pane {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 5.5em;
  width: 20%;
  border: 2px solid gray;
  border-radius: 10px;
}

.display_boxes, .views {
  width: 80%;
}

.left_nav_pane button, .view_options button, .display {
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.views, .extras {
  display: flex;
  flex-direction: column;
}

.extras {
  margin: 1em;
}

.xt_links {
  text-align: center;
  margin: 1em;
}

.views {
  background-color: rgb(156, 196, 196);
  border: 2px solid black;
  border-radius: 10px;
  padding: 2em;
  margin: 1em;
}

.hr {
  border: 2px dashed black;
}

.message p {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(123, 20, 8);
  border: 2px dashed gray;
  border-radius: 10px;
  width: 95%;
  text-align: center;
  align-self: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
}

.imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imgs img {
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  height: 70%;
  width: 70%;
  border-radius: 10px; 
  border: 2px solid black;
}