/* last updated: Jan 14, 2023 by Martin */

body {
  background-color: rgba(232, 226, 226, 0.995);
  font-family: 'Ubuntu', sans-serif;
  color: rgb(86, 83, 83);
  text-align: justify;
  height: 100%;
}

button {
  background-color: rgba(158, 242, 203, 0.685);
  border: 2px solid rgb(9, 163, 241);
  font-family: 'Ubuntu', sans-serif;
  color: rgb(50, 50, 50);
  border-radius: 5px;
}

button:hover {
  border: 3px solid black;
}

.site_menus button, .home_menus button {
  margin: 0.2em;
  padding: 0.2em;
}

input[placeholder] {
  color: blue;
  font-size: x-small;
}

.header {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-items: center;
  justify-content: space-between;
}

.home, .view_options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search_field, .site_menus, .display_options {
  width: 100%;
}

.search_field form {
  padding: 0.1em;
  background: rgb(156, 155, 155);
  border-radius: 5px;
  text-align: center;
}

.search_field form input[type=text] {
  font-size: 1em;
  cursor: pointer;
  width: 85%;
}

.header div span {
  font-size: 5em;
}

.display_area, .display_options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.left_nav_pane, .right_nav_pane {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 5.5em;
  width: 20%;
}

.display_boxes, .views {
  width: 80%;
}

.left_nav_pane button, .view_options button, .display {
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.views, .extras {
  display: flex;
  flex-direction: column;
}

.extras {
  margin: 1em;
}

.xt_links {
  text-align: center;
  margin: 1em;
}

.views {
  border-left: 0.01em dashed gray;
  /* border-radius: 10px; */
}